<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ysoserial</title>
    <#include "/manage/header.html"/>
    <script>
    </script>
</head>

<body>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form target="_blank" action="/plugin/use" method="post">
                    <input type="hidden" name="key" value="downloadYsoserialPayload">

                    <div class="form-group mb-3">
                        <label for="command">命令</label>
                        <input type="text" id="command" value="calc" name="command" class="form-control">
                    </div>

                    <div class="form-group mb-3">
                        <label for="payload">载荷</label>
                        <select class="form-control" name="payload" id="payload">
                            <option value="BeanShell1">BeanShell1</option>
                            <option value="C3P0">C3P0</option>
                            <option value="Clojure">Clojure</option>
                            <option value="CommonsBeanutils1">CommonsBeanutils1</option>
                            <option value="CommonsCollections1">CommonsCollections1</option>
                            <option value="CommonsCollections2">CommonsCollections2</option>
                            <option value="CommonsCollections3">CommonsCollections3</option>
                            <option value="CommonsCollections4">CommonsCollections4</option>
                            <option value="CommonsCollections5">CommonsCollections5</option>
                            <option value="CommonsCollections6">CommonsCollections6</option>
                            <option value="FileUpload1">FileUpload1</option>
                            <option value="Groovy1">Groovy1</option>
                            <option value="Hibernate1">Hibernate1</option>
                            <option value="Hibernate2">Hibernate2</option>
                            <option value="JBossInterceptors1">JBossInterceptors1</option>
                            <option value="JRMPClient">JRMPClient</option>
                            <option value="JRMPListener">JRMPListener</option>
                            <option value="JSON1">JSON1</option>
                            <option value="JavassistWeld1">JavassistWeld1</option>
                            <option value="Jdk7u21">Jdk7u21</option>
                            <option value="Jython1">Jython1</option>
                            <option value="MozillaRhino1">MozillaRhino1</option>
                            <option value="MozillaRhino2">MozillaRhino2</option>
                            <option value="Myfaces1">Myfaces1</option>
                            <option value="Myfaces2">Myfaces2</option>
                            <option value="ROME">ROME</option>
                            <option value="Spring1">Spring1</option>
                            <option value="Spring2">Spring2</option>
                            <option value="URLDNS">URLDNS</option>
                            <option value="Vaadin1">Vaadin1</option>
                            <option value="Wicket1">Wicket1</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">生成</button>
                </form>

            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- end card-body-->
</div>

</body>

<#include "/manage/footer_script.html"/>

</html>