<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>


<div>

    <form action="attack" method="post">

        <div>
            <ul>

                <#if plugins?exists>
                    <#list plugins?keys as key>
                        <tr>
                            <li>
                                <input type="checkbox" value="true" name="${key}">${plugins[key]}
                            </li>
                        </tr>
                    </#list>
                </#if>


            </ul>
        </div>


        <textarea name="urls" placeholder="http://xxx.com/ 一行一个网站" rows="15" cols="50"></textarea>

        <br/>

        <input type="submit" value="attack">

    </form>

</div>


</body>
</html>