<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kunpeng JSON</title>
    <#include "/manage/header.html"/>
    <script>
        $(function () {
            $("#scan").click(function () {
                alert("正在发起扫描请求");
            })
        })

    </script>
</head>

<body>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form action="attack" method="post">

                <div class="form-group mb-3">
                    <div class="form-group mb-3">
                        <label for="urls">URL(一行一条)</label>
                        <textarea class="form-control" name="urls" id="urls" rows="18"></textarea>
                    </div>
                </div>

                <h4 class="header-title mt-5 mt-sm-0">插件</h4>
                <div class="mt-3">
                    <#if plugins?exists>
                        <#list plugins?keys as key>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" value="true" class="custom-control-input" name="${key}" id="${key}">
                                <label class="custom-control-label" for="${key}">${plugins[key]}</label>
                            </div>
                        </#list>
                    </#if>
                </div>

                <button type="submit" id="scan" class="btn btn-primary">扫描</button>
                </form>
            </div> <!-- end col -->

        </div> <!-- end row -->

    </div> <!-- end card-body-->
</div>

</body>

<#include "/manage/footer_script.html"/>

</html>
