<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu" id="left-side-menu-container">

        <!-- LOGO -->
        <a href="#" class="logo text-center">
                        <span class="logo-lg">
                            <img src="/assets/images/logo.png" alt="" height="16">
                        </span>
            <span class="logo-sm">
                            <img src="/assets/images/logo_sm.png" alt="" height="16">
                        </span>
        </a>

        <!--- Sidemenu -->
        <ul class="metismenu side-nav in">

            <li class="side-nav-title side-nav-item">Navigation</li>


            <li class="side-nav-item active">
                <a href="javascript:void(0)" class="side-nav-link active" aria-expanded="true">
                    <i class="dripicons-meter"></i>
                    <span> SCANNER</span>
                </a>
                <ul class="side-nav-second-level collapse in" aria-expanded="true" style="">
                    <li class="active">
                        <a href="/manage/create" class="active">NEW TASK</a>
                    </li>
                    <li>
                        <a href="/manage/tasks">TASKS</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item ">
                <a href="/console" class="side-nav-link active" aria-expanded="false">
                    <i class="dripicons-browser"></i>
                    <span> CONSOLE</span>
                </a>
            </li>

            <li class="side-nav-item ">
                <a href="/msf" class="side-nav-link active" aria-expanded="false">
                    <i class="dripicons-browser"></i>
                    <span> MSF CONSOLE</span>
                </a>
            </li>

            <li class="side-nav-item ">
                <a href="/api" class="side-nav-link active" aria-expanded="false">
                    <i class="mdi mdi-xaml"></i>
                    <span> API PLUGIN</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link" aria-expanded="false">
                    <i class="dripicons-view-apps"></i>
                    <span> APPS </span>

                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level collapse" aria-expanded="false">



                    <#if menu?exists>
                        <#list menu?keys as key>
                                <li>
                                    <a href="/apps/${key}">${menu[key]}</a>
                                </li>
                        </#list>
                    </#if>

                </ul>
            </li>

        </ul>

        <!-- Help Box -->

        <!-- end Help Box -->
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>

</div>
    <!-- Sidebar -left -->
