<div class="navbar-custom">

    <ul class="list-unstyled topbar-right-menu float-right mb-0">





        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <span class="account-user-avatar">
                                        <img src="/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                                    </span>
                <span>
                                        <span class="account-user-name">${user}</span>
                                    </span>
            </a>
        </li>

    </ul><button class="button-menu-mobile open-left disable-btn">
    <i class="mdi mdi-menu"></i>
</button>
    <div class="app-search">

    </div>
</div>
