<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPS页面生成</title>
    <#include "/manage/header.html"/>
    <script>


    </script>
</head>

<body>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form>

                    <h4 class="header-title mt-5 mt-sm-0">H5 GPS页面生成</h4>

                    <div class="form-group mb-3">
                        <label for="template">页面模板</label>
                        <select class="form-control" name="template" id="template">
                            <#if (templates)??>
                                <#list templates as t>
                                    <option value="${t}">${t}</option>
                                </#list>
                            </#if>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="remark">备注</label>
                        <input type="text" id="remark" name="remark" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">生成</button>

                </form>
            </div> <!-- end col -->

            <div class="col-md-6">
                <h4 class="header-title mt-5 mt-sm-0">生成结果</h4>

                <div class="form-group mb-3">
                    <#if (link)??>
                        <a target="_blank" class="btn btn-link btn-rounded" href="${link}">GPS获取页面</a>
                        <a target="_blank" class="btn btn-link btn-rounded" href="logo.png">根据图片获取IP</a>
                        <a target="_blank" class="btn btn-link btn-rounded" href="https://met.red/h/location/push?server=rTebRCwJncIfEhTE">第三方GPS获取页</a>
                    </#if>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- end card-body-->
</div>

</body>

<#include "/manage/footer_script.html"/>

</html>