<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>
    </appenders>

    <loggers>
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.hibernate" level="INFO"/>
        <logger name="com.anbai" level="info"/>
        <root level="all">
            <appender-ref ref="Console"/>
        </root>
    </loggers>

</configuration>